<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.mapper.BoardFileMapper">
    <sql id="attachColumns">
        idx
        , board_id
		, original_name
		, save_name
		, size
		, delete_yn
		, insert_time
		, delete_time
    </sql>

    <insert id="insertAttach" parameterType="list">
        INSERT INTO board_file(
        <include refid="attachColumns" />
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
               #{item.idx}
            ,  #{item.boardId}
            , #{item.originalName}
            , #{item.saveName}
            , #{item.size}
            , 'N'
            , NOW()
            , NULL
            )
        </foreach>
    </insert>

    <select id="selectAttachDetail" parameterType="long" resultType="com.test.demo.vo.BoardFile">
        SELECT
        <include refid="attachColumns" />
        FROM
        board_file
        WHERE
        delete_yn = 'N'
        AND
        id = #{id}
    </select>

    <update id="deleteAttach" parameterType="long">
        UPDATE board_file
        SET
            delete_yn = 'Y'
          , delete_time = NOW()
        WHERE
            board_idx = #{boardId}
    </update>

    <select id="selectAttachList" parameterType="long" resultType="com.test.demo.vo.BoardFile">
        SELECT
        <include refid="attachColumns" />
        FROM
        board_file
        WHERE
        delete_yn = 'N'
        AND
        board_id = #{boardId}
    </select>

    <select id="selectAttachTotalCount" parameterType="long" resultType="int">
        SELECT
            COUNT(*)
        FROM
            board_file
        WHERE
            delete_yn = 'N'
          AND
            board_id = #{boardId}
    </select>

</mapper>