<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.mapper.BoardMapper">
   <!--글쓰기-->
   <insert id="uploadBoard" parameterType="com.test.demo.vo.Board">
       <selectKey resultType="long" keyProperty="id" order="AFTER">
           SELECT LAST_INSERT_ID()
       </selectKey>
       insert into board (title,content,writer) values(#{title},#{content},#{writer});
   </insert>

<!--    <insert id="uploadBoard" parameterType="com.test.demo.vo.Board" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into board (title,content,writer) values(#{title},#{content},#{writer});-->
<!--    </insert>-->

    <select id="getBoardId" parameterType="String" resultType="Long">
        select id from board WHERE content = #{content}
    </select>

    <!--전체 게시물-->
    <select id="allBoard" parameterType="com.test.demo.vo.Board" resultType="com.test.demo.vo.Board">
        SELECT id,writer,title,content,board_regdate FROM board ORDER BY id DESC LIMIT #{paginationInfo.firstRecordIndex} , #{recordsPerPage}
    </select>

    <!--해당 글보기-->
    <select id="boardDetail" resultType="com.test.demo.vo.Board" parameterType="int">
        SELECT id,writer,title,content,board_regdate FROM board WHERE id=#{id}
    </select>

    <!-- 내가 쓴글 -->
    <select id="myboardList" resultType="com.test.demo.vo.Board" parameterType="String">
        SELECT id,writer,title,content,board_regdate FROM board WHERE writer=#{writer}
    </select>

    <!--게시글 수정-->
    <update id="updateBoard" parameterType="com.test.demo.vo.Board">
        UPDATE board SET title='${title}', content='${content}' WHERE id = '${id}'
    </update>

    <!--글 삭제-->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE id = '${id}'
    </delete>

    <!-- writer 를 이용해서 글 삭제 -->
    <delete id="deleteBoardWithWriter" parameterType="String">
        DELETE FROM board WHERE writer = '${writer}'
    </delete>

    <select id="selectBoardTotalCount" parameterType="com.test.demo.vo.Board" resultType="int">
        SELECT
            COUNT(*)
        FROM
            board
    </select>

</mapper>