<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.demo.mapper.UserMapper">
    <!--회원가입-->
    <insert id="insertUser" parameterType="com.test.demo.vo.User">
        insert into User(user_id,user_pw,user_nkname) values(#{userId},#{userPw},#{userNkname});
    </insert>
    <!--로그인-->
    <select id="login" resultType="com.test.demo.vo.User">
        SELECT id,user_id, user_pw, user_nkname
        FROM user
        WHERE user_id = #{userId}
          AND user_pw = #{userPw}
    </select>

    <!--로그인 체크-->
    <select id="checkLogin" resultType="com.test.demo.vo.User">
        SELECT id,user_id, user_pw, user_nkname
        FROM user
        WHERE user_id = #{userId}
          AND user_pw = #{userPw}
    </select>

    <!-- 아이디 중복 체크 -->
    <select id="checkId" resultType="int" parameterType="String">
        SELECT COUNT(user_id)
        FROM   user
        WHERE  user_id = '${userId}'
    </select>
    <!--
        $ 사용시 '' 로 묶어주기
    -->
    <!--회원수정-->
    <update id="updateUser" parameterType="com.test.demo.vo.User">
        UPDATE user SET user_id='${userId}',user_nkname='${userNkname}' WHERE id = '${id}'
    </update>
    <!--회원가입시 회원객체 가져오기-->
    <select id="checkUser" resultType="com.test.demo.vo.User" parameterType="String">
        SELECT id, user_id, user_pw, user_nkname FROM user WHERE user_id = #{userId}
    </select>

    <!--수정시에 회원객체 가져오기-->
    <select id="selectOne" resultType="com.test.demo.vo.User">
        SELECT id, user_id, user_pw, user_nkname, user_regdate FROM user WHERE id = #{id}
    </select>

    <!--회원삭제-->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = '${id}'
    </delete>

    <!--전체 회원 불러오기-->
    <select id="selectUserList" resultType="com.test.demo.vo.User">
        SELECT id,user_id,user_pw,user_nkname,user_regdate FROM user;
    </select>
</mapper>

