<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 전체</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div style="margin: 40px 40px" >
  <h2>게시판</h2>
</div>
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">글번호</th>
    <th scope="col">작성자</th>
    <th scope="col">제목</th>
    <th scope="col">내용</th>
    <th scope="col">작성 날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="allBoard : ${allBoard}">
    <th scope="row" th:text="${allBoard.getId()}"></th>

    <td><a style="color: white" th:text="${allBoard.getWriter()}" th:href="@{/boardDetail/{id}(id=${allBoard.getId()})}"></a></td>

    <td th:text="${allBoard.getTitle()}"></td>
    <td th:text="${allBoard.getContent()}"></td>
    <td th:text="${allBoard.getBoardRegdate()}"></td>
  </tr>
  </tbody>
</table>
<th:block layout:fragment="paging">
  <nav th:replace = "fragments/common :: pagination"></nav>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    function movePage(uri, queryString) {
      location.href = uri + queryString;
    }

    /*]]>*/
  </script>
</th:block>
<button type="button" class="btn btn-info" th:onclick="|location.href='@{/}'|">메인</button>
<button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/writeboard}'|">글쓰기</button>
</body>
</html>

<!--
타임리스 a링크 파라미터로 넘길때  ↓

<a th:href="@{/board/view(id = ${board.id})}">글 상세보기</a>

-->
