<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    body{
        width: 100%;
        height: 100%;
    }

    table {
        border: 1px solid #444444;
        border-collapse: collapse;
        width: 30%;
        height: 30%;
    }
    th, td {
        border: 1px solid #444444;
        padding: 10px;
    }
    th {
        width: 60px;
    }

    .container {
        margin-top: 100px;
        margin-left: 35%;
    }
</style>
<body>

<!--    <span th:text="${session.userId}"></span>-->
<!--    <span th:text="${writer}"></span> -->
    <!-- 위에랑 똑같이 board.getWriter()했는데 에러남 근데 이건 안남.-->
<div class="container">
    <table>
        <tr>
            <th>글번호</th>
            <td><span th:text="${id}"></span></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td><span th:text="${baord.getWriter()}"></span></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><span th:text="${baord.getTitle()}"></span></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><span th:text="${baord.getContent()}"></span></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td><span th:text="${baord.getBoardRegdate()}"></span></td>
        </tr>
    </table>


<!--    <span th:text="${id}"></span>-->
    <th:block th:if="${session.userId} == ${baord.getWriter()}">
        <div style="margin-top: 30px">
            <button type="button" class="btn btn-warning" th:onclick="|location.href='@{/editboard(id=${id})}'|">수정</button>
            <button type="button" class="btn btn-danger" th:onclick="deleteBoard()">삭제</button>
            <button type="button" class="btn btn-info" th:onclick="|location.href='@{/}'|">메인</button>
            <button type="button" class="btn btn-light" th:onclick="|location.href='@{/allBoard}'|">게시판</button>
        </div>
    </th:block>
    <th:block th:if="${session.userId} != ${baord.getWriter()}">
        <div style="margin-top: 30px">
            <button type="button" class="btn btn-info" th:onclick="|location.href='@{/}'|">메인</button>
            <button type="button" class="btn btn-light" th:onclick="|location.href='@{/allBoard}'|">게시판</button>
        </div>
    </th:block>
</div>
    <script th:inline="javascript">
        function deleteBoard(){
            var id = [[${id}]]; // 서버에서 보낸값 받기 ex) mav.addObject("id", boarddetail.getId());
            console.log(id);

            axios.delete(`/deleteBoard/${id}`)
            .then(response =>{
                alert("게시물이 삭제되었습니다.");
                location.href='/allBoard';
            })
        }
    </script>
</body>
</html>