<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
    <div class="container">
        <h1>비밀번호 변경</h1>
        <th:block th:if="${member.getUserId() != null and member.getUserId() != ''}" >
            <div class="form-group">
                <!--pk hidden값으로 보냄-->
                <input th:value="${member.getId()}" type="hidden" class="form-control" id="inputId" name="id" placeholder="사용자 아이디">
            </div>
            <div class="form-group">
                <label for="inputOldPw">이전 비밀번호</label>
                <input type="password" class="form-control" id="inputOldPw" name="OldPw" placeholder="이전 비밀번호">
            </div>
            <div class="form-group">
                <label for="inputNewPw">변경할 비밀번호</label>
                <input type="password" class="form-control" id="inputNewPw" name="NewPw" placeholder="변경할 비밀번호">
            </div>
        </th:block>
        <button type="button" class="btn btn-primary" onclick="changePassword()">비밀번호 변경</button>
    </div>
<script th:inline="javascript">

    const userId = document.getElementById("inputId").value


    console.log("userId ===> " + userId); // 미리 박혀 있는 hidden 값

    function changePassword(){
        // 미리 박혀 있는 hidden 값 아니면 맨 위에 상수로 먼저 밖지 말자 그럼 입력하고 함수실행되기 전이어서 빈값으로 들어간다.
        const OldPw = document.getElementById("inputOldPw").value;
        const NewPw = document.getElementById("inputNewPw").value;
        console.log("OldPw ===> " + OldPw);
        console.log("OldPw ===> " + OldPw);

        axios.post(`/changePassword/${userId}`, JSON.stringify({old_pw:OldPw, new_pw:NewPw}),{
            headers: {
                "Content-Type": `application/json`, // 서버단에서 @RequestBody 형식으로 param을 받아서 @RequestBody랑 형식 맞춰주기 위해
            },
        })
        .then(response =>{
            console.log(response);
            if(response.data.code == 200){
                alert(response.data.changemsg);
                location.href = "/";
            }else{
                if(response.data.failmsg != null){
                    alert(response.data.failmsg);
                }
            }
        })

    }

</script>


</body>
</html>