<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>글수정</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
    <div>
        <input type="hidden" name="id" id="id" th:value="${board.getId()}"/>
        <p>작성자 : <span th:text="${board.getWriter()}" name="writer" id="writer"></span></p>
        <p>제목  :  <input type="text" name="title" id="title" th:value="${board.getTitle()}"/> </p>
        <div style="margin-bottom: 10px">
            <textarea name="content" id="content" rows="4" cols="50" ></textarea>
        </div>
    </div>
    <button type="button" onclick="updateboard()">수정하기</button>

<script th:inline="javascript">

    function updateboard(){
        let boardid = document.getElementById("id");
        let boardwriter = document.getElementById("writer");
        let boardtitle = document.getElementById("title");
        let boardcontent = document.getElementById("content");

        axios.put(`/updateboard/${boardid}`,JSON.stringify({writer:boardwriter,title:boardtitle,content:boardcontent}),{
            headers:{
                "Content-Type": `application/json`
            }
        }).then(response => {
            console.log(response.data);
            console.log("수정 성공~!");
            location.href=`/boardDetail/${boardid}`;
        })
    }




</script>

</body>
</html>