<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Insert title here</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Hello, Thymeleaf</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>회원가입쓰</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>회원가입</h2>-->
<!--<form method="post" action="/insertMember">-->
<!--    <div class="Id">-->
<!--        <input name="userId" type="text"  placeholder="아이디를 입력해 주세요.">-->
<!--    </div>-->
<!--    <div class="Nkname">-->
<!--        <input name="userNkname"  type="text" placeholder="이름을 입력해 주세요.">-->
<!--    </div>-->
<!--    <div class="password">-->
<!--        <input name="userPw"  type="password" placeholder="비밀번호를 입력해 주세요.">-->
<!--    </div>-->
<!--    <input type="submit">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
<!--<form method="post" action="/insertMember">-->
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="inputEmail4">userId</label>
            <input type="text" class="form-control" id="inputEmail4" name="userId" placeholder="사용자 아이디">
            <span id="checkMessage" style="color:red;font-weight:bold"></span>  <!--아이디 중복 검사 후 메세지 출력-->
        </div>
        <div class="form-group">
            <label for="inputAddress">userName</label>
            <input type="text" class="form-control" id="inputAddress" name="userNkname" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword4" name="userPw" placeholder="사용자 비밀번호">
        </div>

        <button type="button" class="btn btn-primary" onclick="signup()">가입 완료</button>
    </div>
<!--</form>-->

<script th:inline="javascript">

    window.onload = function(){

    document.getElementById("inputEmail4").addEventListener('keyup',()=>{

        const userid = document.getElementById("inputEmail4").value; // 이거 밖에다 하면 안찍힘;;;;

        axios.post('/checkId',JSON.stringify({user_id : userid}),{
            headers:{
                "Content-Type": `application/json`, // 서버단에서 @RequestBody 형식으로 param 을 받기때문에 @RequestBody 랑 형식 맞춰주기 위해
            }
        }).then(response => {
                console.log("userid    :" + userid);
                console.log("response ↓");
                console.log(response); // data 가 0 으로 나오는 상태임.. 중복된 아이디 있는데도..
                console.log("아이디 중복 체크");
                if(response.data.msg != null){
                    document.getElementById("checkMessage").innerHTML = response.data.msg;
                    // document.getElementById("inputEmail4").onfocus;
                }else{
                    document.getElementById("checkMessage").innerHTML = "사용가능한 아이디입니다.";
                }
            })
        })
    }

    function signup(){
        let userid = document.getElementById("inputEmail4").value;
        let userpw = document.getElementById("inputPassword4").value;
        let usernkname = document.getElementById("inputAddress").value;

        // JSON.stringify 에는 body 로 못넣나봄..
        let body = {user_id : userid, user_pw : userpw, user_nkname:usernkname};

        axios.post('/insertMember',JSON.stringify({user_id : userid, user_pw : userpw, user_nkname:usernkname}),{
            headers: {
                "Content-Type": `application/json`
            }
        }).then(response => {
            console.log(response);
            if(response.data.nounique != null){
                alert("아이디를 다시 작성해 주세요");
            }

            if(response.data.done != null){
                location.href = '/';
            }
        })

    }

</script>
</body>
</html>