<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p>로그인</p>
                    <form action="" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" name="userId" id="userId">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="userPw" id="userPw">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="login()">login</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='/join'">signup</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function login(){
        const user_id = document.getElementById("userId").value;
        const user_pw = document.getElementById("userPw").value;

        var message = [[${msg}]]; // 서버에서 보내주는 msg 값 받아서 message 에 할당

        axios.post('/loginExecute', JSON.stringify({user_id : user_id, user_pw : user_pw}), {
            headers: {
                "Content-Type": `application/json`, // 서버단에서 @RequestBody 형식으로 param을 받아서 @RequestBody랑 형식 맞춰주기 위해
            },
        })
            .then(response => {

                console.log(response);
                console.log(message);
                console.log(response.data);

                /*
                    resultMap.put("code", HttpStatus.INTERNAL_SERVER_ERROR.value()); // 프로트단에 보낼 메세지
                    resultMap.put("msg", "로그인 실패했습니다.");
                */
                if(response.data.code == 200){
                    location.href = "/";
                }else{
                    if(response.data.msg != null){
                        alert(response.data.msg);
                    }
                }

            })
    }
</script>
</html>

