<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
<form th:action="@{/updateMember}" method="post">
<!--    <input type="hidden" name="_method" value="PATCH">-->
    <div class="container">
        <h1>정보수정</h1>
        <th:block th:if="${member.getUserId() != null and member.getUserId() != ''}" >
<!--            <input type="hidden" name="_method" th:value="put"/>-->

            <div class="form-group">
                <!--pk hidden값으로 보냄-->
                <input th:value="${member.getId()}" type="hidden" class="form-control" id="inputId" name="id" placeholder="사용자 아이디">
            </div>
            <div class="form-group">
                <label for="inputUserId">userId</label>
                <input th:value="${member.getUserId()}" type="text" class="form-control" id="inputUserId" name="userId" placeholder="사용자 아이디">
            </div>
            <div class="form-group">
                <label for="inputUserNkname">userName</label>
                <input th:value="${member.getUserNkname()}" type="text" class="form-control" id="inputUserNkname" name="userNkname" placeholder="사용자 이름">
            </div>
        </th:block>
        <button type="submit" class="btn btn-primary">수정하기</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/changePassword'">비밀번호 변경</button>
        <button type="button" class="btn btn-primary" onclick="deleteMember()">회원탈퇴</button>
    </div>
</form>
<script th:inline="javascript">

    const pkid = document. querySelector('input').value;    // 첫번째꺼만 반환
    const pkid2 = document.getElementById('inputId').value; // 해당 id의 value 값 반환
    console.log('queryselect of id : '+ pkid);
    console.log('getElementById : ' + pkid2);

    function deleteMember(){

        axios.delete(`/deleteMember/${pkid2}`)
        .then(response => {
            console.log(response);
            console.log("회원탈퇴 성공!");

            location.href = '/'
        })

    }
</script>


</body>
</html>