<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 30px;

        }

    </style>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<body>
<div class="container">
    <th:block th:if="${member.getUserId() != null and member.getUserId() != ''}">
        <div class="mb-3">
            <label for="writer">작성자</label>
            <span th:text="${member.getUserId()}" name="writer" id="writer"></span>
        </div>
    </th:block>

    <div class="mb-3">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
    </div>

    <div class="mb-3">
        <label for="content">내용</label>
        <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
    </div>
    <button type="button" class="btn btn-sm btn-primary" id="btnSave" onclick="uploadBoard()">저장</button>
</div>


</body>
</html>
<script th:inline="javascript">
    function uploadBoard(){
        let writer = document.getElementById("writer").innerText; // span
        let title = document.getElementById("title").value; //input
        let content = document.getElementById("content").value; //input

        console.log("writer, title, content  ::::  " + writer, title, content);

        axios.post('/createpost',JSON.stringify({writer:writer,title:title,content:content}),{
            headers: {
                "Content-Type": `application/json`
            }
        }).then(response => {
            console.log(response);
            if(response.data.msg != null){
                location.href = '/allBoard';
            }
        })
    }
</script>